<strong>Olá, {{ student }}!</strong>
<br><br>
<p>
    <strong>Questão: </strong> {{ question }}.<br>
    <strong>Resposta: </strong> {{ answer }}.<br><br>
    <small>Data:  {{ date }}</small><br>
</p>
