<strong>Houve uma falha ao enviar um e-mail de confirmação</strong>
<br><br>
<p>
    <small>Detalhes:</small><br>
    <strong>Queue: </strong> {{ queueName }}.<br>
    <strong>Error: </strong> {{ error }}.<br>
</p>
