<strong>Seja bem vindo à Gympoint, {{ student }}!</strong>
<br><br>
<p>
    <small>Detalhes:</small><br>
    <strong>Seu plano: </strong> {{ planName }}.<br>
    <strong>Término: </strong> {{ endDate }}.<br>
    <strong>Valor: </strong>R$ {{ price }}.<br>
</p>
